<h1>Add a new Book!</h2>

 <%= form_for(@book) do |f|%>
    <div>
  <%= f.label :title %>
  <%= f.text_field :username %>
    </div>

    <div>
  <%= f.label :description %>
  <%= f.text_field description %>
    </div>

  <p> Choose an Author who already exists </p>
  <div>
    <%= f.collection_select :author_id, Author.all, :id, :name%>

    </div>

  <p> Or create an Author</p>


  <%= f.submit %>
<% end %>