<h1>Add a new Book!</h2>

 <%= form_for(@book) do |f|%>
    <div>
  <%= f.label :title %>
  <%= f.text_field :title %>
    </div>

    <div>
  <%= f.label :description %>
  <%= f.text_field :description %>
    </div>

  <p> Choose an Author who already exists </p>
  <div>
    <%= f.collection_select :author_id, Author.all, :id, :name%>

    </div>

  <p> Or add an Author</p>
  <div>
    <%=f.fields_for :author do |a| %>
      <%= a.label :name%>
      <%= a.text_field :name%>
   
   <%end%>

    


</div>
<br>



  <%= f.submit %>
<% end %>